body {
    margin: 0;
    background-image: url('../images/vignes.jpg');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    user-select: none;
}

.header {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5074404761904762) 0%, rgba(0, 0, 0, 0.227328431372549) 50%, rgba(0, 0, 0, 0) 100%);
    margin-bottom: 10vh;
}

.menu {
    color: rgba(255, 253, 250, 0.553);
    font-size: x-large;
    background-color: transparent;
}

img.logoImage {
    margin: 15px;
    width: 8vw;
}